@{
    ViewData["Title"] = "Dashboard";
}

<h2 class="m-5">Welcome to the Dashboard</h2>

<div class="d-flex flex-row justify-content-between m-5">

<div class="" style="width: 30%">
    <div class="bg-white d-flex flex-column align-items-center gap-3 p-3">
        <i class="fs-4 bi-person-badge"></i> 
        <div>Total Students</div>
        <div>0</div>
    </div>
</div>



<div class="" style="width: 30%">
    <div class="bg-white d-flex flex-column align-items-center gap-3 p-3">
        <i class="fs-4 bi-journal-bookmark"></i> 
        <div>Total Course</div>
        <div>0</div>
    </div>
</div>



<div class="" style="width: 30%">
    <div class="bg-white d-flex flex-column align-items-center gap-3 p-3">
        <i class="fs-4 bi-person-plus"></i> 
        <div>Total Enrollment</div>
        <div>0</div>
    </div>
</div>


</div>
