@{
    Layout = null;
}

@model StudentManagementSystem.Models.Courses

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="editForm" asp-action="EditCourse" method="post">
            <input type="hidden" asp-for="Course_Id" />
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Course</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column gap-2">
                    <div class="form-group">
                        <label asp-for="Course"></label>
                        <input type="text" asp-for="Course" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input type="text" asp-for="Description" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Duration"></label>
                        <input type="text" asp-for="Duration" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Instructor"></label>
                        <input type="text" asp-for="Instructor" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Level"></label>
                        <select asp-for="Level" class="form-select" id="level" name="level">
                            <option value="">Search by level</option>
                            <option value="Beginner">Beginner</option>
                            <option value="Intermediate">Intermediate</option>
                            <option value="Advanced">Advanced</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fee"></label>
                        <input type="text" asp-for="Fee" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary w-100">Edit Course</button>
                </div>
            </form>
        </div>
    </div>
</div>
