@{
    Layout = null;
}

@model StudentManagementSystem.Models.Enrollments

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="editForm" asp-action="EditEnrollment" method="post">
            <input type="hidden" asp-for="Enrollment_Id" />
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Enrollment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column gap-2">
                     <!-- Student Dropdown -->
                    <div class="form-group">
                        <label asp-for="Student_Id">Student</label>
                       <select asp-for="Student_Id" class="form-select" asp-items="ViewBag.StudentList" required>
                            <option value="">Select student</option>
                        </select>
                    </div>

                    <!-- Course Dropdown -->
                    <div class="form-group">
                        <label asp-for="Course_Id">Course</label>
                        <select asp-for="Course_Id" class="form-select" asp-items="ViewBag.CourseList" required>
                            <option value="">Select course</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Enrollment_date"></label>
                        <input type="date" asp-for="Enrollment_date" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status"></label>
                        <select asp-for="Status" class="form-select" required>
                            <option value="">Select status</option>
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary w-100">Edit Student</button>
                </div>
            </form>
        </div>
    </div>
</div>
